:host {
  display: block;
  width: 50%;
  float: right;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.5); }
  :host * {
    box-sizing: border-box;
    padding: 0;
    margin: 0; }
  :host ul {
    list-style-type: none;
    font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
    text-align: right; }
    :host ul li {
      display: inline-block;
      padding: 0 .5rem; }
      :host ul li:not(.title) {
        border-left: 1px solid rgba(0, 0, 0, 0.05); }
      :host ul li:nth-of-type(1) {
        border-left: 0; }
      :host ul li a {
        color: rgba(0, 0, 0, 0.3);
        text-decoration: none;
        cursor: pointer;
        transition: color .25s; }
        :host ul li a.active {
          color: #ff1907; }
        :host ul li a:hover {
          color: black; }
