@import "./mixins";

* {
  @include defaults();
}

.resolving {
  opacity: 0;
}

.resolved {
  opacity: 1;
}

:root {
  font-size: 10px;
  position: relative;
  min-height: 100%;

  > body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .05);
    padding: 0 2rem;
    overflow: visible;

    > section.todo-app {
      background-color: white;
      width: 100%;
      max-width: 40rem;
      box-shadow: 0 0 .5rem rgba(0, 0, 0, .05), 0 0 100px rgba(0, 0, 0, .2);

      > main {

        > .resolving {
          visibility: hidden;
        }

        > footer {
          overflow: hidden;
          font-size: 1.2rem;
          font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
          color: rgba(0, 0, 0, .25);
          padding: .75rem 1rem .75rem 2rem;
          background-color: rgba(0, 0, 0, .05);
          box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, .15);
        }
      }
    }
  }
}
